body{
    background-color: #030f14;
  
}
form{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: rgb(255, 255, 255);
background-color: rgb(0, 0, 0);

}
input{
    background-color:  rgb(163, 163, 163);

}
select{
     background-color: rgb(163, 163, 163);
}

textarea{
     background-color: rgb(163, 163, 163);


}
.button {
  background: var(--color-back);
  border-radius: 0.5em;
  box-shadow:
    inset 0px -6px 18px -6px rgba(3, 15, 20, 0),
    inset rgba(54, 69, 75, 1) -1px -1px 6px 0px,
    inset 12px 0px 12px -6px rgba(3, 15, 20, 0),
    inset -12px 0px 12px -6px rgba(3, 15, 20, 0),
    rgba(54, 69, 75, 1) -1px -1px 6px 0px;
  border: solid 2px #030f14;
  cursor: pointer;
  font-size: 18px;
  padding: 0.7em 1.7em;
  outline: none;
  transition: all 0.3s;
  user-select: none;

   align-items: center
}

.button:hover {
  box-shadow:
    inset 0px -6px 18px -6px rgb(255, 255, 255),
    inset 0px 6px 18px -6px rgb(255, 255, 255),
    inset 12px 0px 12px -6px rgba(255, 255, 255, 0),
    inset -12px 0px 12px -6px rgba(3, 15, 20, 0),
    -1px -1px 6px 0px rgba(54, 69, 75, 1);

}

.button:active {
  box-shadow:
    inset 0px -12px 12px -6px rgba(3, 15, 20, 1),
    inset 0px 12px 12px -6px rgba(3, 15, 20, 1),
    inset 12px 0px 12px -6px rgba(3, 15, 20, 1),
    inset -12px 0px 12px -6px rgba(3, 15, 20, 1),
    -1px -1px 6px 0px rgba(54, 69, 75, 1);
}

.text {
  color: #ffffff;
  font-weight: 700;
  margin: auto;
  transition: all 0.3s;
  width: fit-content;
}

.button:hover .text {
  transform: scale(0.9);
}

.button:active .text {
  transform: scale(0.8);
}
.ditadura a {
float: left;
display: block;
color: rgb(255, 255, 255);
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.ditadura a:hover {
background-color: rgb(255, 251, 9);
color: rgb(0, 0, 0);
}
span{
    background-color: rgb(0, 18, 156);
    color: rgb(255, 242, 0);}
footer{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #333; 
  color: white;         
  padding: 20px;         
  text-align: center; 
}