body{
    background-color: rgb(32, 32, 32);

}
span{
    background-color: rgb(0, 18, 156);
    color: rgb(255, 242, 0);
}
h1{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
p{
    background-color: black;
    color: aliceblue;
    text-align: center;
}
.ditadura a {
overflow: hidden;
background-color: black
}

.ditadura a {
float: left;
display: block;
color: rgb(255, 255, 255);
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.ditadura a:hover {
background-color: rgb(255, 251, 9);
color: black;
}

.calice{
margin: 0 auto;
display: block;
}
img{
    width: 200px;
}
.fotos{
display: flex;
}

ul{
    background-color: black;
    color: aliceblue;
}
.joao{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
}
ol{
    background-color: black;
    color: aliceblue;
}
.mpb{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
.ainda{
    display: flex;
    align-items: center;
}


